@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Delius';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 106, 0.5);
    padding: 20px 20px;
    /* border-bottom: 1px solid green; */
    z-index: 1; /* Garantir que o header fique acima da sidebar */
    position: relative; /* Para que o z-index funcione */
    height: 80px; /* Ajuste a altura do header conforme necessário */
}
.header h1{
    padding-top: 4vh;
    font-size:1.7rem;
    font-weight: bold;
    color: purple;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px; */
}
/* .header h2{
    font-size: 1rem;
    font-weight: bold;
    color: purple;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
} */

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin-left: 250px; /* Deixar espaço para a sidebar */
    padding-left: 20px;
    padding-top: 20px; /* Para garantir que o conteúdo não sobreponha o header */
    overflow-x: hidden;
}

.sidebar {
    width: 200px;
    background-color: rgba(0, 255, 106, 0.5);
    color: purple;
    padding: 10px 0 0 0;
    position: fixed; /* Sidebar fixa à esquerda */
    top: 80px; /* Empurrar a sidebar para baixo, para não cobrir o header */
    left: 0;
    height: calc(100vh - 80px); /* Ajuste a altura para o restante da tela, sem cobrir o header */
    z-index: 999;
}

.sidebar h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar a {
    font-size: 1.5rem;
    color: purple;
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.sidebar a:hover {
    background-color: hsla(0, 0%, 100%, 0.9);
    color: purple;
    
}

.main-content {
    flex-grow: 1;
    padding: 0;
    margin-right: 3vw;
    overflow-x: hidden;
}
.card {
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.header img{
    margin-top: -4vh;
    width: 50px;
    height: 50px;
}