* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Delius';
    background-color: #10b10a33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.delius-regular {
    font-family: "Delius", serif;
    font-weight: 400;
    font-style: normal;
  }

.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: purple;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    font-family: 'Delius';
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0fb10a;
}

#feedback {
    margin-top: 20px;
    text-align: center;
}
