@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body {
    font-family: 'Delius';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 106, 0.5);
    padding: 20px 30px;
    border-bottom: 1px solid green;
}
.header h1{
    font-size:1.7rem;
    font-weight: bold;
    color: purple;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px; */
}
/* .header h2{
    font-size: 1rem;
    font-weight: bold;
    color: purple;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
} */

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.sidebar a:hover {
    background-color: #555;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
}
.card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
